@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
  font-family: Outfit;
}

@import "tailwindcss";

@theme {
  /* Course details */
  --text-course-details-heading-small: 26px;
  --leading-course-details-heading-small: 36px;

  --text-course-details-heading-large: 36px;
  --leading-course-details-heading-large: 44px;

  /* Home page */
  --text-home-heading-small: 28px;
  --leading-home-heading-small: 34px;

  --text-home-heading-large: 48px;
  --leading-home-heading-large: 56px;

  /* Default text */
  --text-default: 15px;
  --leading-default: 21px;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
